extends /layout/app

block content
  .container
    time-line(
      finish="1605009169"
      days="день, дня, дней"
      hours="час, часа, часов"
      minutes="минута, минтуы, минут"
      seconds="секунда, секунды, секунд"
      class="timeline--sm"
      tippy-content="test content"
    )

    time-line(
      finish="1574250769"
      days="день, дня, дней"
      hours="час, часа, часов"
      minutes="минута, минтуы, минут"
      seconds="секунда, секунды, секунд"
    )